@model IEnumerable<MessengerFaravin.Models.contacts>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.family)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.user1.phoneNumber)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        
        <tr ng-click="openContact(@item.user1.phoneNumber)">

            <td >
                @Html.DisplayFor(modelItem => item.name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.family)
            </td>

            <td >
                @Html.DisplayFor(modelItem => item.user1.phoneNumber)
            </td>
        </tr>
        
    }

</table>
<a href="#_newContact" rel="modal:open" style="">new contact</a>
